body {
    width: 600px;
    margin: 0px auto 0px auto;
    font-family: Ubuntu, UbuntuBeta, 'Droid Sans', Arial, sans-serif;
}

body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #0091AB;
}

div#navigation {
    text-align: center;
    border-bottom: 4px solid black;
}

div#navigation a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 3px 10px 3px 10px;
    margin: 0px 10px 0px 10px;
}

a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
  color: #0091AB;
  padding: 0 1px;
  text-decoration: none;
}
a:hover, a:active {
  background-color: #0091AB;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #333;
}

pre{
  overflow:auto;
}
