body {
    margin: 0px auto 0px auto;
    font-family: Ubuntu, UbuntuBeta, 'Droid Sans', Arial, sans-serif;
}

.icon-github {
  background-image: url('../img/github.png');
  background-position: center center;
}

.icon-debian {
  background-image: url('../img/debian.png');
  background-position: top center;
}

.maintitle {
  text-align:center;
}

.leftmenu {
  padding-top: 50px;
}

.maincontainer {
  background-color: white;
  padding-bottom: 100px;
}

.header {
  background-color: #556270;
  color: white;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.nav-hdr ul {
  margin: 0 auto;
  padding-top: 10px;
  width: 50%;
}

.nav-hdr li {
    display: inline;
    padding-right: 20px;
  border: 1px solid red;
}

.nav-hdr li > a {
    display: inline;
    color: white;
}
