<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Enter the void * - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/css/extra.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <link rel="alternate"
              type="application/rss+xml"
              title="Enter the void *"
              href="/rss.xml" />
        <link rel="shortcut icon"
              href="/favicon.ico"
          />
    </head>
    <body>
        <div class="header container">
            <h1 class="maintitle">Enter the void *</h1>
               <div class="nav-hdr">
                   <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/posts.html">All posts</a></li>
                      <li><a href="/rss.xml">Feed</a></li>
                      <li><a href="https://github.com/emillon">Github</a></li>
                      <li><a href="http://qa.debian.org/developer.php?login=etienne.millon@gmail.com">Debian</a></li>
                   </ul>
                </div>
        </div>
        <div class="maincontainer container">
          <div class="span9 offset1">
            $body$
          </div>
        </div>
    </body>
</html>
