<div class="about">
    <h1>About this blog</h1>
    <p>
    Hello! I am a French computer scientist specialized in formal methods.
    </p>

    <p>
    This blog is mostly about security, types, functional programming and free
    software.
    </p>

    <div id="posts">
    I recently wrote about the following things:
    <ul class="postList">
        $posts$
    </ul>
    <p><a href="/posts.html">See the rest&hellip;</a></p>
    </div>

    <h1>Tags</h1>
    <div>
        $tagcloud$
    </div>
</div>
